<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <link rel="stylesheet" href="../static/css/like.css">
    
</head>
<body>
    <div id="insta-logo">
        <p><a href="/home" style="color: black; margin-right: 10px;"><i class="fa-solid fa-arrow-left"></a></i>@<%= user.username%></p>

        
    </div>
    <div id="likebody">
        <h4 style="text-align: center;">Likes</h4>
        <div id="Likes">

            <% if (likes && likes.length > 0 ) { %>
                <% likes.forEach(l => { %>
                    
                    <div class="likedata">
                        <span style="display: flex;">
                            <img src="<%=l.user.profile.secure_url%>" alt="profilepic" style="border-radius: 50%; height: 30px; width: 30px;">
                            <span style="display: flex; flex-direction: column;">
                                <span style="font-size: 17px; font-weight: 600;margin-left: 8px;"><%=l.user.username%></span>
                            </span>
                        </span>
                    </div>
                    <% }); %>
                    <% } else { %>
                        <span style="display: flex;justify-content: center;">No likes available</span>
                        <% } %>
        </div>
    </div>
    


    <script src="https://kit.fontawesome.com/eff65daa71.js" crossorigin="anonymous"></script> 
    
     
    
</body>
</html>